body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #222;
}
html {
  height: -webkit-fill-available;
  background-color: #222;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: #f5f5f5 !important;
}
